/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
  width: 100%;
  height: auto;
}

ul, li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

html {
 font-size: 62.5%; 
}

/* 600px */
@media (max-width: 37.5em) { 
  
 }

/* 900px */
@media (max-width: 56.25em) { 
  
 }

/* 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
 }

 /* @media (min-width: 90em) { 
  html {
    font-size: 80%;
  }
 } */

/* 1800 */
@media (min-width: 112.5em) { 
  html {
    font-size: 90%;
  }
 }

a, span, h2, h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: .1rem;
  font-size: 1.5rem;
}

body, span, button {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
}

body {
  height: 770vh;
  font-size: 1.6rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */

.header {
  width: 100%;
  background: #001747;
  opacity: .9;
  height: 7rem;
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 140rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login {
  background: #fc8834;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: .5rem;
}

.login img {
  width: initial;
}

.login img {
  margin-right: 1rem;
}

.logo {
  transform: translate(2rem, 7rem);
  height: 20rem;
  width: 20rem;
}

.menu {
  display: flex;
}

.menu li a {
  padding: 1.5rem;
}

.menu li {
  border-left: .1rem solid rgba(255, 255, 255, .3);
}

.menu li:last-child {
  border-right: .1rem solid rgba(255, 255, 255, .3);
}

.social {
  display: flex;
  align-items: center;
}

.social h2 {
  margin-right: 1rem;
}

.social ul {
  display: flex;
  align-items: center;
}

.social ul li {
  padding: 1rem;
}

.social img{
  height: 3.6rem;
  width: 3.6rem;
}

.langIcons a {
  height: 3.6rem;
  width: 3.6rem;
  margin-right: 1rem;
}

.langIcons {
  padding: 2rem;
  border-left: 1px solid rgba(255, 255, 255, .3);
  
}

.home {
  text-align: center;
}

.homeBg {
  border-bottom: .7rem solid #184d86;
}

.home h1 {
  background: #184d86;
  display: inline-block;
  z-index: 999;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 2rem;
  transform: translateY(-3.2rem);
  
}

/* News */
.news {
  padding-top: 6rem;
}

.newsTitle {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.mainTitle {
  color: #000;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: .1;
}

.subTitle {
  color: #b65f44;
  letter-spacing: normal;
}

.wrapperNews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
  gap: 2rem;
}

.news {
  padding-bottom: 12rem;
}

.boxNews {
  display: grid;
  overflow: hidden;
  align-items: end;
  height: auto;
  -webkit-box-shadow: inset 4px 4px 15px 0px #0c306a;
  box-shadow: inset 8rem 25rem 0rem 0rem #0c306a;
}

.newsInfo  {
  margin-bottom: 1rem;
  grid-area: 1 / 1;
  color: #fff;
  margin: 1rem auto;
}

.newsInfo h3 {
  margin-top: .2rem;
  font-size: 1.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

.newsInfo p {
  color: #e9af64;
  font-weight: bold;
  font-size: 1.3rem;
  z-index: 999;
}

.newsImg {
  grid-area: 1 / 1;
  height: 100%;
}

/* welcome */
.welcome {
  padding-top: 6rem;
}

.welcomeImg {
  position: relative;
  display: grid;
}

.welcomeInfo {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 30%;
  top: 40%;
  width: 30rem;
  text-align: center;
}

.welcomeInfo h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: bold;
}

.welcomeInfo h3 {
  margin: 1rem 0;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: .1rem;
}

.welcomeInfo p {
  color: #fff;
  line-height: 1.5;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.welcomeInfo a {
  font-weight: 600;
  border-radius: .5rem;
  padding: 2rem 2rem;
  background: #fff;
  color: #fc8833;
}


.bg {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden !important;
  background: #fc8833;
  padding-top: 15rem;
  padding-bottom: 23rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* .b {
 position: absolute;
 background-size: cover;
} */

.b-top {
  top: calc(5rem - 8vw) ;
  width: 101%;
  left: 0;
  height: 50%;
  position: absolute;
}

.b-top img {
  transform: translate(-50%);
  top: -.5rem;
  left: 50%;
  position: absolute;
  display: block;
  height: auto;
  width: 100%;
}

.b-bottom {
  width: 101%;
  left: 0;
  bottom: 0;
  height: 50%;
  position: absolute; 
}

.b-bottom img {
  transform: translate(-50%);
  bottom: 0;
  left: 50%;

  position: absolute;
}



.contentInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 20rem;
  z-index: 2000;
}

.copyInfo {
  position: absolute;
  left: 20%;
  align-self: flex-start;
  margin: -5rem auto;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.copyInfo h2 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.copyInfo h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.copyInfo p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: .5rem;
}

.copyInfo button {
  border-radius: .5rem;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  width: 13rem;
  border: none;
  background: #fff;
  outline: none;
  color: #fc8834;
}

.contentIMG { 
  position: absolute;
  right: 0;
  width: 60%;
  height: auto;
  transform: translateY(3.3rem);
}

/*
.contentInfo {
  padding-top: 8rem;
  padding-bottom: 5rem;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
  font-weight: bold;
  margin: 0 auto;
  letter-spacing: .1;
  padding-left: 25rem;
}

.contentInfo h2 {
  font-size: 3rem;
}

.contentInfo h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contentInfo p {
  width: 30rem;
  font-size: .8rem;
  margin-bottom: 1rem;
}

.contentInfo button {
  text-transform: uppercase;
  outline: none;
  border: none;
  background: #fff;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: .5rem;
  color: #fc8833;
}

.contentIMG {
  transform: translateY(6.2em);
}

.contentIMG img {
  width: 70rem;
  height: auto;
} 

*/