/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

ul, li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

html {
 font-size: 62.5%; 
}

/* 600px */
@media (max-width: 37.5em) { 
  
 }

/* 900px */
@media (max-width: 56.25em) { 
  
 }

/* 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
 }

 /* @media (min-width: 90em) { 
  html {
    font-size: 80%;
  }
 } */

/* 1800 */
@media (min-width: 112.5em) { 
  html {
    font-size: 75%;
  }
 }

a, span, h2, h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: .1rem;
  font-size: 1.5rem;
}

body, span, button {
  line-height: 1.5rem;
  font-weight: 400;
}

p {
  font-family: Tahoma, sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */

.header {
  width: 100%;
  background: #001747;
  opacity: .9;
  height: 7rem;
  position: fixed;
  z-index: 20000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  max-width: 140rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login {
  display: flex;
  align-items: center;
  background: #fc8834;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: .5rem;
}

.login img {
  width: initial;
}

.login img {
  margin-right: 1rem;
}

.logo {
  transform: translate(2rem, 2rem);
  max-width: 20rem;
  height: auto;
}

.menu {
  display: flex;
}

.menu li a {
  padding: 1.5rem;
}

.menu li {
  border-left: .1rem solid rgba(255, 255, 255, .3);
}

.menu li:last-child {
  border-right: .1rem solid rgba(255, 255, 255, .3);
}

.social {
  display: flex;
  align-items: center;
}

.social h2 {
  margin-right: 1rem;
}

.social ul {
  display: flex;
  align-items: center;
}

.social ul li {
  padding: 1rem;
}

.social img{
  height: 3.6rem;
  width: 3.6rem;
}

.langIcons a {
  height: 3.6rem;
  width: 3.6rem;
  margin-right: 1rem;
}

.langIcons {
  padding: 2rem;
  border-left: 1px solid rgba(255, 255, 255, .3);
  
}

.home {
  text-align: center;
}

.homeBg {
  border-bottom: .7rem solid #184d86;
}

.home h1 {
  background: #184d86;
  display: inline-block;
  z-index: 999;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 2rem;
  transform: translateY(-3.2rem);
  
}

/* News */
.news {
  padding-top: 6rem;
  padding-bottom: 20rem;
}

.newsTitle {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.mainTitle {
  color: #000;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: .1;
}

.subTitle {
  color: #b65f44;
  letter-spacing: normal;
}

.wrapperNews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
  gap: 2rem;
}

.boxNews {
  display: grid;
  overflow: hidden;
  align-items: end;
  height: auto;
  -webkit-box-shadow: inset 4px 4px 15px 0px #0c306a;
  box-shadow: inset 8rem 25rem 0rem 0rem #0c306a;
}

.newsInfo  {
  margin-bottom: 1rem;
  grid-area: 1 / 1;
  color: #fff;
  margin: 1rem auto;
}

.newsInfo h3 {
  margin-top: .2rem;
  font-size: 1.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

.newsInfo p {
  color: #e9af64;
  font-weight: bold;
  font-size: 1.3rem;
  z-index: 999;
}

.newsImg {
  grid-area: 1 / 1;
  height: 100%;
}

/* welcome */
.welcome {
  padding-top: 6rem;
}

.welcomeImg {
  position: relative;
  display: grid;
}

.welcomeInfo {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 30%;
  top: 40%;
  width: 30rem;
  text-align: center;
}

.welcomeInfo h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: bold;
}

.welcomeInfo h3 {
  margin: 1rem 0;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: .1rem;
}

.welcomeInfo p {
  color: #fff;
  line-height: 1.5;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.welcomeInfo a {
  font-weight: 600;
  border-radius: .5rem;
  padding: 2rem 2rem;
  background: #fff;
  color: #fc8833;
}


.bg {
  position: relative;
  width: 100%;
  height: auto;
  /* overflow: hidden !important; */
  background: #fc8833;
  padding-top: 11rem;
  padding-bottom: 0rem;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-top {
  top: calc(5rem - 8vw) ;
  width: 101%;
  left: 0;
  height: 50%;
  position: absolute;
}

.b-top img {
  transform: translate(-50%);
  top: -.5rem;
  left: 50%;
  position: absolute;
  display: block;
  height: auto;
  width: 100%;
}

.b-bottom {
  width: 101%;
  left: 0;
  bottom: 0;
  height: 50%;
  position: absolute; 
}

.b-bottom img {
  transform: translate(-50%);
  bottom: 0;
  left: 50%;

  position: absolute;
}



.contentInfo {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  height: 60rem;
  margin: 0 auto;
}

.copyInfo {
  align-self: flex-start;
  /* margin-top: -20rem; */
  transform: translateX(16rem);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  text-transform: uppercase;
}

.copyInfo h2 {
  font-family: gt-america, sans-serif;
  font-size: 6rem;
  letter-spacing: 2px;
  margin-bottom: -2rem;
}


.copyInfo h3 {
  font-size: 1.5rem;
  margin: 1rem auto;
}

.copyInfo p {
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: .5rem;
  max-width: 50%;
}

.copyInfo button {
  border-radius: .5rem;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1.3rem 1.9rem;
  margin: 1rem auto;
  border: none;
  background: #fff;
  outline: none;
  color: #fc8834;
}

.contentIMG { 
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
  /* width: 150rem; */
  width: 100%;
  height: auto;
  overflow: hidden;
  transform: translatey(5rem);
  /* z-index: 2000; */
  /* padding-top: 49%; */
}

.contentIMG img {
  width: 80rem;
  /* width: 100%; */
  height: auto;
}


/* sasuke */

.sasukeHome {
  position: relative;
  padding-top: 6rem;
  height: 113rem;
  display: flex;
  justify-content: center;
}

.mapa {
  filter: grayscale(100%);
  background: url('/assets/mapa.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  z-index: -2;
  position: relative;
}


.contentSasuke {
 max-width: 64%;
 width: 100%;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 position: absolute;
 top: 2rem;
}

.boxTitle {
  position: absolute;
  z-index: -1;
  top: 20rem;
}

.boxTitle h3 {
  order: 1;
  font-size: 18rem;
  color: #5b8c79;
  letter-spacing: 1rem;
}

.boxIMG {
  width: 50rem;
  height: auto;
  transform: translateY(11rem);
}

.author h3 {
  color: #5b8c79;
  font-weight: bold;
  font-size: 4rem;
  margin-top: -10rem;
  margin-bottom: 2rem;
}

.author p {
  color: #0c306a;
  font-weight: normal;
  font-size: 2.5rem;
}

.circle {
  position: absolute;
  top: 17rem;
}

.circleLeft {
  display: flex;
  justify-content: flex-start;
  left: 0;
}

.circleRight {
  display: flex;
  justify-content: flex-end;
  right: 0;
}

.roundLeft {
  /* position: absolute; */
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.roundRight {
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wrapperSymbolsLeft {
  position: absolute;
  top: 1.6rem;
  left: -2.9rem;
  height: 64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wrapperSymbolsRight {
  position: absolute;
  top: 1.6rem;
  right: -3.1rem;
  height: 64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.roundLeft, .roundRight {
  width: 15rem;
  height: 100%;
}

.roundLeft img {
  max-width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

.roundRight img {
  height: auto;
  max-width: 100%;
  display: block;
}

.l1 {
  width: 18rem;
  height: 100%;
  transform: translateX(-1rem);
}

.l2 {
  transform: translateX(-6rem);
}

.l3 {
  transform: translate(-3rem, 2rem);
}

.l4 {
  transform: translate(8rem, 2em);
}

.r1 {
  transform: translateX(0rem);
}

.r2 {
  transform: translate(4rem, 1rem);
}

.r3 {
  transform: translate(2rem, 2rem);
}

.r4 {
  transform: translate(-8rem, 2em);
}


/* sasuke */
.Gbg {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -2000;
  /* overflow: hidden !important; */
  background: #5b8c79;
  margin-top: 0;
  margin-bottom: 0;
  transform: rotate(180deg)
}

.s-top {
  top: calc(5rem - 8vw) ;
  width: 101%;
  left: 0;
  height: 50%;
  position: absolute;
}

.s-top img {
  transform: translate(-50%);
  top: -.5rem;
  left: 50%;
  position: absolute;
  display: block;
  height: auto;
  width: 100%;
}

.s-bottom {
  z-index: -2000;
  width: 101%;
  left: 0;
  bottom: 0;
  height: 50%;
  position: absolute; 
}

.s-bottom img {
  transform: translate(-50%);
  bottom: 0;
  left: 50%;

  position: absolute;
}

.sasukeWrapper {
  color: #fff;
  display: flex;
  align-items: center;
  height: 70rem;
}

.sasukeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  transform: rotate(180deg) translate(-11rem, 7rem);
  line-height: 1.5;
}

.sasukeInfo h2 {
  font-family: gt-america, sans-serif;
  font-size: 6rem;
  letter-spacing: 2px;
  margin-bottom: -2rem;
}

.sasukeInfo p {
  margin: 0 auto;
  margin: 1rem 0;
  max-width: 50%;
  width: 100%;
  line-height: 1.3;
  font-size: 1.1rem;
}

.sasukeInfo button {
  color: #5b8c79;
  padding: 1.8rem 1.9rem;
  border-radius: .5rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Lexend, sans-serif;
}

.sasukeIMG {
  transform: rotatex(180deg);
  overflow: visible;
  max-width: 80rem;
  height: auto;
}

.sasukeIMG img {
  width: 100%;
}

/* Footer */

.footer {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 24rem;
  font-family: 'Lexend', sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.topFooter {
  padding: 1.5rem 0;
  width: 100%;
  background-color: #0d0f1d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topFooter p {
  margin-top: 1rem;
  font-style: italic;
  /* font-weight: 300; */
}

.topFooter p {
  font-weight: 300;
}

.topFooter img {
  width: 3rem; 
  height: auto;
  margin: 1rem 1rem;
}

.subFooter {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.footerMenu {
  width: 47%;
  display: flex;
  justify-content: space-evenly;
}

.footerMenu li {
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footerMenu li:not(:last-child):after {
  content: '';
  display: inline-block;
  width: 2px;
  margin-left: 2rem;
  height: 24px;
  background-color: rgba(255, 255, 255, .3);
}

.subFooter .footerFlags{
 display: flex;
 width: 10%;
 justify-content: space-around;
}

.subFooter .footerFlags img {
  width: 4rem;
  height: auto;
}

.footerPrivacy {
  display: flex;
}

.footerPrivacy li {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.subFooter p {
  margin: 1rem 0;
}

.footerPrivacy li:not(:last-child):after {
  content: '';
  display: inline-block;
  width: 2px;
  margin-left: 2rem;
  height: 24px;
  background-color: rgba(255, 255, 255, .3);
}

.footerPrivacy a {
  font-size: 1.2rem;
}

/* Media queries */

@media (min-width: 1800px) {

 .wrapperSymbolsLeft, .wrapperSymbolsRight {
   height: 33rem;
 }

  .roundLeft, .roundRight {
    width: 12rem;
    height: auto;
  }

  .l1 {
    transform: translate(0, 6rem);
    width: 14rem;
  }

  .l2 {
    transform: translate(-3rem, 8rem);
  }

  .l3 {
    transform: translate(-1rem, 12rem);
  }

  .l4 {
    transform: translate(7rem, 14rem);
  }

  .r1 {
    transform: translate(-2rem, 6rem);
  }

  .r2 {
    transform: translate(3rem, 9rem);
  }

  .r3 {
    transform: translate(1rem, 12rem);
  }

  .r4 {
    transform: translate(-7rem, 14rem);
  }

  .boxIMG {
    width: auto;
  }
  

  .boxTitle h3 {
    font-size: 14rem;
  }

  .sasukeHome {
    height: 93rem;
  }

}

/* @media (max-width: 1480px) {
  .sasukeInfo{
   margin-left: 5%;
  }
} */

@media (max-width: 1080px) {
 
}

.menuMobile {
  position: fixed;
  top: 1.5rem;
  right: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  padding: 0;
  cursor: pointer;
  border: 1px solid transparent;
  background: #fc8834;
  color: #fff;
  border-radius: .2rem;
  z-index: 2000000;
  display: none;
}

.menuMobile::After {
  content: '';
  display: inline-block;
  background-color: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  width: 3.2rem;
  height: 2px;
  transition: .3s;
}

.round::after {
  content: '';
  transition: .3s;
  transform: rotate(90deg);
  background-color: currentColor;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
  width: .4rem;
  border-radius: 50%;
  height: .4rem;
}

.menuMobile.show::after{
  content: '';
  display: inline-block;
  background-color: currentColor;
  box-shadow: 0 6px red, 0 -6px currentColor;
  width: 3.2rem;
  height: 2px;
}

.panel {
  text-transform: uppercase;
  transform: translate(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 20rem;
  height: auto;
  background: #fc8834;
  opacity: 1;
  visibility: hidden;
  transition: all .3s;
}

.panel.show {
  visibility: visible;
  opacity: .9;
  transform: translate(0, 4rem);
}

.panel ul li {
  font-size: 3rem;
  width: 100%;
  padding: 3rem;
  border-bottom: 1px solid #ccc;
}

.panel ul li a {
  font-size: 2rem;
}

.panel ul li:last-child {
  border: none;
}