/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
  width: 100%;
  height: auto;
}

ul, li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

html {
 font-size: 62.5%; 
}

/* 600px */
@media (max-width: 37.5em) { 
  
 }

/* 900px */
@media (max-width: 56.25em) { 
  
 }

/* 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
 }

 /* @media (min-width: 90em) { 
  html {
    font-size: 80%;
  }
 } */

/* 1800 */
@media (min-width: 112.5em) { 
  html {
    font-size: 90%;
  }
 }

a, span, h2, h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: .1rem;
  font-size: 1.5rem;
}

body, span, button {
  line-height: 1.5rem;
  font-weight: 400;
}

p {
  font-family: Tahoma, sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */

.header {
  width: 100%;
  background: #001747;
  opacity: .9;
  height: 7rem;
  position: fixed;
  z-index: 20000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 140rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login {
  background: #fc8834;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: .5rem;
}

.login img {
  width: initial;
}

.login img {
  margin-right: 1rem;
}

.logo {
  transform: translate(2rem, 7rem);
  height: 20rem;
  width: 20rem;
}

.menu {
  display: flex;
}

.menu li a {
  padding: 1.5rem;
}

.menu li {
  border-left: .1rem solid rgba(255, 255, 255, .3);
}

.menu li:last-child {
  border-right: .1rem solid rgba(255, 255, 255, .3);
}

.social {
  display: flex;
  align-items: center;
}

.social h2 {
  margin-right: 1rem;
}

.social ul {
  display: flex;
  align-items: center;
}

.social ul li {
  padding: 1rem;
}

.social img{
  height: 3.6rem;
  width: 3.6rem;
}

.langIcons a {
  height: 3.6rem;
  width: 3.6rem;
  margin-right: 1rem;
}

.langIcons {
  padding: 2rem;
  border-left: 1px solid rgba(255, 255, 255, .3);
  
}

.home {
  text-align: center;
}

.homeBg {
  border-bottom: .7rem solid #184d86;
}

.home h1 {
  background: #184d86;
  display: inline-block;
  z-index: 999;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 2rem;
  transform: translateY(-3.2rem);
  
}

/* News */
.news {
  padding-top: 6rem;
}

.newsTitle {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.mainTitle {
  color: #000;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: .1;
}

.subTitle {
  color: #b65f44;
  letter-spacing: normal;
}

.wrapperNews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
  gap: 2rem;
}

.news {
  padding-bottom: 12rem;
}

.boxNews {
  display: grid;
  overflow: hidden;
  align-items: end;
  height: auto;
  -webkit-box-shadow: inset 4px 4px 15px 0px #0c306a;
  box-shadow: inset 8rem 25rem 0rem 0rem #0c306a;
}

.newsInfo  {
  margin-bottom: 1rem;
  grid-area: 1 / 1;
  color: #fff;
  margin: 1rem auto;
}

.newsInfo h3 {
  margin-top: .2rem;
  font-size: 1.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

.newsInfo p {
  color: #e9af64;
  font-weight: bold;
  font-size: 1.3rem;
  z-index: 999;
}

.newsImg {
  grid-area: 1 / 1;
  height: 100%;
}

/* welcome */
.welcome {
  padding-top: 6rem;
}

.welcomeImg {
  position: relative;
  display: grid;
}

.welcomeInfo {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 30%;
  top: 40%;
  width: 30rem;
  text-align: center;
}

.welcomeInfo h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: bold;
}

.welcomeInfo h3 {
  margin: 1rem 0;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: .1rem;
}

.welcomeInfo p {
  color: #fff;
  line-height: 1.5;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.welcomeInfo a {
  font-weight: 600;
  border-radius: .5rem;
  padding: 2rem 2rem;
  background: #fff;
  color: #fc8833;
}


.bg {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden !important;
  background: #fc8833;
  padding-top: 20rem;
  padding-bottom: 23rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* .b {
 position: absolute;
 background-size: cover;
} */

.b-top {
  top: calc(5rem - 8vw) ;
  width: 101%;
  left: 0;
  height: 50%;
  position: absolute;
}

.b-top img {
  transform: translate(-50%);
  top: -.5rem;
  left: 50%;
  position: absolute;
  display: block;
  height: auto;
  width: 100%;
}

.b-bottom {
  width: 101%;
  left: 0;
  bottom: 0;
  height: 50%;
  position: absolute; 
}

.b-bottom img {
  transform: translate(-50%);
  bottom: 0;
  left: 50%;

  position: absolute;
}



.contentInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 20rem;
  /* z-index: 2000; */
}

.copyInfo {
  padding-left: 2rem;
  align-self: flex-start;
  margin: -11rem auto;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 40rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.copyInfo h2 {
  font-size: 4rem;
  letter-spacing: 2px;
}

.copyInfo h2:first-child::after {
  content: '';
  display: block;
  margin: 0 auto;
  background: #fff;
  height: 3px;
  width: 20%;
}

.copyInfo h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.copyInfo p {
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: .5rem;
  width: 50%;
}

.copyInfo button {
  border-radius: .5rem;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  width: 15rem;
  border: none;
  background: #fff;
  outline: none;
  color: #fc8834;
}

.contentIMG { 
  display: flex;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.contentIMG img {
  width: 60rem;
  height: auto;
}

/* sasuke */

.sasukeHome {
  position: relative;
  padding-top: 6rem;
  height: 113rem;
  display: flex;
  justify-content: center;
}

.mapa {
  filter: grayscale(100%);
  background: url('/assets/mapa.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  z-index: -2;
  position: relative;
}

.contentSasuke {
 width: 64%;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 position: absolute;
 top: 2rem;
}

.boxTitle {
  position: absolute;
  z-index: -1;
  top: 20rem;
}

.boxTitle h3 {
  order: 1;
  font-size: 18rem;
  color: #5b8c79;
  letter-spacing: 1rem;
}

.boxIMG {
  width: 50rem;
  height: auto;
  transform: translateY(11rem);
}

.boxIMG img {
}

.author {

}

.author h3 {
  color: #5b8c79;
  font-weight: bold;
  font-size: 4rem;
  margin-top: -10rem;
  margin-bottom: 2rem;
}

.author p {
  color: #0c306a;
  font-weight: normal;
  font-size: 2.5rem;
}

.circle {
  position: absolute;
  top: 17rem;
}

.circleLeft {
  display: flex;
  justify-content: flex-start;
  left: 0;
}

.circleRight {
  display: flex;
  justify-content: flex-end;
  right: 0;
}

.roundLeft {
  /* position: absolute; */
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundRight {
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperSymbolsLeft {
  position: absolute;
  top: -.4rem;
  left: -2.9rem;
  height: 640px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: space-around;
}

.wrapperSymbolsRight {
  position: absolute;
  top: -.4rem;
  right: -3.1rem;
  height: 640px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: space-around;
}

.roundLeft img {
  display: block;
  width: 3.8rem;
}

.roundRight img {
  display: block;
}

.l1 {
  background-color: #86b351;
  transform: translateX(4rem);
}



.l1 img {
  width: 4.3rem;
  height: auto;
}

.l2 {
  /* top: calc(12rem + 8%);
  left: -4rem; */
  padding: 2.5rem 3rem;
  /* background: linear-gradient(30deg, #8d4f34, #b1884f);  */
  box-shadow: inset 0px 0px 0px 3px #d3bb67,
  inset 0px 0px 0px 6px #b1884f, 
  inset 0px 0px 0px 8px #d3bb67,
  inset 0rem 0rem 2rem 0rem #8d4f34,
  inset 0 0 7rem 5rem #b1884f,
  -.2rem 0 0rem .1rem #8d4f34;
  
}

.l2 img {
  width: 3.0rem;
}

.l3 {
  background-color: #c093da;
}

.l4 {
  transform: translateX(7rem);
  background-color: #adadad;
}

.r1 {
  transform: translateX(-4rem);
  background-color: #ffbe4d;
}

.r1 img {
  width: 4rem;
  height: auto;
}

.r2 {
  background-color: #ff5f5f;
}

.r2 img {
  width: 5rem;
  height: auto;
}

.r3 {
  background-color: #ff90fb;
}

.r3 img {
  width: 3rem;
  height: auto;
}

.r4 {
  transform: translateX(-7rem);
  background-color: #59a9fc;
}

.r4 img {
  width: 4rem;
  height: auto;
}

/* gaara */
.Gbg {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden !important;
  background: #5b8c79;
  padding-top: 20rem;
  padding-bottom: 23rem;
  padding-right: 20rem;
  margin-top: 0;
  margin-bottom: 0;
  transform: rotate(180deg)
}

.b-top {
  top: calc(5rem - 8vw) ;
  width: 101%;
  left: 0;
  height: 50%;
  position: absolute;
}

.b-top img {
  transform: translate(-50%);
  top: -.5rem;
  left: 50%;
  position: absolute;
  display: block;
  height: auto;
  width: 100%;
}

.b-bottom {
  width: 101%;
  left: 0;
  bottom: 0;
  height: 50%;
  position: absolute; 
}

.b-bottom img {
  transform: translate(-50%);
  bottom: 0;
  left: 50%;

  position: absolute;
}

.bgSasuke {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-content: center;
  /* padding-bottom: 12rem; */
}

.sasukeInfo {
  transform: rotate(180deg) translatey(6rem);
  padding-left: 0;
  align-self: center;
  margin-left: 20rem;
}

.sasukeInfo button {
  color: #5b8c79;
}

.sasukeIMG {
  transform: rotatex(180deg);
  overflow: visible;
}

/* Footer */

.footer {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 24rem;
  font-family: 'Lexend', sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.topFooter {
  padding: 1.5rem 0;
  width: 100%;
  background-color: #0d0f1d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topFooter p {
  margin-top: 1rem;
  font-style: italic;
  /* font-weight: 300; */
}

.topFooter p {
  font-weight: 300;
}

.topFooter img {
  width: 3rem; 
  height: auto;
  margin: 1rem 1rem;
}

.subFooter {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.footerMenu {
  width: 47%;
  display: flex;
  justify-content: space-evenly;
}

.footerMenu li {
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footerMenu li:not(:last-child):after {
  content: '';
  display: inline-block;
  width: 2px;
  margin-left: 2rem;
  height: 24px;
  background-color: rgba(255, 255, 255, .3);
}

.subFooter .footerFlags{
 display: flex;
 width: 10%;
 justify-content: space-around;
}

.subFooter .footerFlags img {
  width: 4rem;
  height: auto;
}

.footerPrivacy {
  display: flex;
}

.footerPrivacy li {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.subFooter p {
  margin: 1rem 0;
}

.footerPrivacy li:not(:last-child):after {
  content: '';
  display: inline-block;
  width: 2px;
  margin-left: 2rem;
  height: 24px;
  background-color: rgba(255, 255, 255, .3);
}

.footerPrivacy a {
  font-size: 1.2rem;
}